<!DOCTYPE html>
<html lang="en">
<head>
<title>SER421 Survey</title>
</head>
<body>
	<h1>SER421 Survey</h1>
	<form name="NameForm" method="post">
        	Name:<input type = "text" name = "username" value ="<%= name %>"/><br></br>
            <button type="submit" formaction="/survey">Survey</button>
            <button type="submit" formaction="/match">Match</button>
	</form>

</body>
</html>