<!DOCTYPE html>
<html lang="en">
<head>
<title>SER421 Survey</title>
</head>
<body>
	<h1>Choose your rendering option</h1>
	
		<form name="Rendering" method="post">
		<input type="hidden" name="action" value="survey"/>
	  		
   		<INPUT TYPE="radio" NAME="option" VALUE=0 checked = "yes">Horizontal</INPUT>
   		<INPUT TYPE="radio" NAME="option" VALUE=1>Vertical</INPUT>

		
		<button type="submit" formaction="/survey">Next</button>
		
	</form>

</body>
</html>