<!DOCTYPE html>
<html lang="en">
<head>
<title>Online Calculator</title>
</head>
<body>
	<h1>Success!</h1>
	<p>Current Value: <%= currentVal %></p><br></br>
	<a href="/">Home</a>

</body>
</html>